services:
  cserver:
    build:
      context: .
      dockerfile: dockerfile.server
    image: z11_cserver_udp
    container_name: z11_cserver_udp
    cap_add:
      - NET_ADMIN
    hostname: cserver
    networks:
      z11_network:
        aliases:
          - cserver
    environment:
      - NETEM_ENABLED=${NETEM_ENABLED:-false}
      - NETEM_DELAY=${NETEM_DELAY:-0ms}
      - NETEM_JITTER=${NETEM_JITTER:-0ms}
      - NETEM_LOSS=${NETEM_LOSS:-0%}
    command: ["8080"]

  cclient:
    build:
      context: .
      dockerfile: dockerfile.client
    image: z11_cclient_udp
    container_name: z11_cclient_udp
    cap_add:
      - NET_ADMIN
    hostname: cclient
    networks:
      z11_network:
        aliases:
          - cclient
    command: ["cserver", "8080"]
    depends_on:
      - cserver

networks:
  z11_network:
    external: true
